.hero-section-container{
    width:100%;
    min-height:100vh;
    box-sizing:border-box;
    padding-top:160px;
    background:linear-gradient(90deg,#2563EB 0%,#4F46E5 40%,#6D28D9 70%,#7E22CE 100%);
    overflow:hidden;
}

@media (max-width:768px){
    .hero-section-container{
        padding-top:80px;
    }
}