.hero-section-container{
    width: 100vw;
    height: 100vh;
    padding-top: clamp(100px, 10vh, 140px);
    background: linear-gradient(90deg,#2563EB 0%,#4F46E5 40%,#6D28D9 70%, #7E22CE 100%);
}

@media(max-width:992px){
    .hero-section-container{
    width: 100%s;
    height: 100%;

}
}